.card {
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 20 20'%3E%3Ccircle cx='5' cy='5' r='2' fill='%23d3d3d3' /%3E%3C/svg%3E") repeat;
    background-color: white;
}

.cardDarkMode {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 20 20'%3E%3Ccircle cx='5' cy='5' r='2' fill='%233d3d3d' /%3E%3C/svg%3E") repeat;
    background-color: black;
    color: white;
}

.form {
    width: 50%;
    background-color: #ffffff88;
}

.formDarkMode {
    background-color: #00105588;

}

.card .title {
    font-size: 3rem;
    text-align: center;
}


.formContainer {
    display: flex;
    flex-direction: column;
}

.formContainer>input {
    height: 3rem;
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 3rem;
    border-width: 1px;
    border-radius: 10px;
    width: 75%;
    margin-left: 12.5%;
}

.formContainer>label {
    align-self: baseline;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-left: 13%;
}

.formContainer> :first-child {
    margin-top: 2rem;
}

.formContainer>textarea {
    width: 75%;
    margin-left: 12.5%;
    font-size: 1.2rem;
    height: 10rem;
    resize: none;
    padding: 1rem;
    border-radius: 10px;
}

.formContainer>div {
    font-size: 1.5rem;
    align-self: center;
    color: red;
    margin-top: -1.5rem;
}

.formContainer>button {
    width: 10rem;
    height: 3rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    background-color: #efefef;
    color: black;
    border-radius: 10px;
    border-width: 1px;
    border: 1px solid black;
}

.formContainer>button:hover {
    background-color: #e3e3e3;
}

.formContainer>p {
    align-self: center;
    font-size: 1.5rem;
}

.formContainerDarkMode>input {
    background-color: #000000;
    border: none;
    color: white;
}

.formContainerDarkMode>input::placeholder {
    color: #ffffff88;
}

.formContainerDarkMode>textarea {
    background-color: #000000;
    border: none;
    color: white;
}

.formContainerDarkMode>textarea::placeholder {
    color: #ffffff88;
}

.formContainerDarkMode>button {
    background-color: darkblue;
    color: white;
    border: 1px solid #0000b4;
}

.formContainerDarkMode>button:hover {
    background-color: #0000b4;
}

@media (max-width: 600px) {
    .form {
        width: 100%;
    }

    .formContainer> :first-child {
        margin-top: 0;
    }
}